# Variables de entorno - Duplica este archivo a .env y completa con tus datos

# Base de Datos MySQL
DB_HOST=sql201.infinityfree.com
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_NAME=tu_base_datos

# SMTP Gmail
SMTP_EMAIL=tu_correo@gmail.com
SMTP_PASSWORD=tu_contraseña_o_app_password
SMTP_NAME=Tu Nombre

# Flask
FLASK_SECRET_KEY=una_clave_secreta_muy_fuerte
FLASK_DEBUG=True
FLASK_ENV=development
